.container_setting {
    width: 33vw;
    height: 40vw;
    border: 1px solid grey;
    border-radius: 2vw;
    background-color: white;
    padding: 1%;
    font-family: 'Spectral SC', serif;
}

.title {
    text-transform: uppercase;
    text-align: start;
    font-size: 2.5vw;
    padding: 2%;
    color: grey;
    margin: 2%;
}

.container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    width: 100%;
}

.unicode {
    width: 2.5vw;
    color: grey;
    cursor: pointer;
}

.unicode:hover {
    color: black;
}

.work,
.short__break,
.long__break {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.work h3,
.short__break h3,
.long__break h3 {
    color: grey;
    margin: 3%;
    font-size: 1.5vw;
}

.content__time {
    display: flex;
    font-size: 2vw;
}

.content {
    height: 13vw;
    border-bottom: 1px solid #EBEBEB;
}

.content h2 {
    margin: 5% 0 2% 0;
    font-size: 2vw;
}

.content__time input {
    width: 84%;
    font-size: 3vw;
    background-color: #EBEBEB;
    cursor: pointer;
}

.currency {
    font-size: 3vw;
    background-color: #EBEBEB;
    width: 13vw;
    cursor: pointer;
}

.div_music {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
}

.div_music h2 {
    font-size: 2vw;
}


.b {
    display: block;
}

.toggle {
    position: relative;
    width: 11vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: #ddd;

    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgb(0 0 0 / 5%);
}

.check {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.track {
    box-shadow: inset 0 0 0 20px #4bd863;
}

.check:checked~.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .05);
    border-radius: 40px;
}

.div_mode {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}

.div_mode h2 {
    font-size: 2vw;
}

.div_hour {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}

.div_hour h2 {
    font-size: 2vw;
}

.currency__hour {
    font-size: 3vw;
    background-color: #EBEBEB;
    width: 13vw;
    cursor: pointer;
}

.none {
    display: none;
}

.themeBody {
    background-color: #4bd863;
}